.composers section{
	position:absolute;
}
.builder .visual-editor{
	
}



.visual-editor.add-mode , .visual-editor.add-mode .structure-tree-item{
	cursor: crosshair; 
}


.visual-editor .component-design.basic .slds-app-launcher__title-label{
	display: none;
}

.visual-editor .component-design.basic .slds-app-launcher__tile-figure{
	padding: .75rem 0 0;
}

.builder .slds-tabs_default__link{
	text-transform: none;
}

.builder .slds-tabs_default__content{
	padding: 0px;
}

.builder .tab-close-button{
	
    float: left;
    position: absolute;
    right: 0px;
    top: 0px;
	
}
.builder .save-button{
	position: absolute;
	right: 1%;
	top: 3px;
}

.builder .new-button{
	position: absolute;
	right: 3%;
	top: 3px;
}

.builder .data-item select,.builder .data-item input{
	width: 100%;
}

.builder .data-item{
	border:1px solid #dddbda;
	box-shadow:0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.builder .visual-editor .drop-active{
	cursor: crosshair;
	background: silver;
}

.builder .designer-selector{
	background: yellow;
	opacity:0.4;
	border: dotted 4px steelblue;
	position:absolute;
}

.builder .slds-docked-composer{
	max-width:300px;
}

.builder .slds-docked-composer__body{
	background:white;
}

.builder .properties-composer .slds-form_compact{
	
}

.builder .slds-form_compact .slds-input{
	border-radius:0px;
	line-height: 20px;
	min-height: 0px;
	padding: 0 4px;
	margin: 0px;
}

.builder .slds-form_compact .slds-form-element{
	margin: 0px;
	background: #ebebeb;
}

.builder .slds-tabs_compact .slds-tabs_default__content{
	padding: 0px;
}

.builder .slds-tabs_compact .slds-tabs_default__content .slds-library{
	
	margin: 0px;
	height: 400px;
	overflow: auto;
}

.builder .visual-editor .slds-docked-composer{
	z-index:1000;
}

.builder .visual-editor .composers{
	position: absolute;
	width:0px;
	height: 0px;
}