.composers section{
	position:absolute;
}
.builder .visual-editor{
	
}

.boolean-cell{
	text-align: center;
}

.numeric-cell{
	text-align: right;
}

.builder .buttons-ctn{
	display: none;
}

.builder .slds-tree__item:hover .buttons-ctn{
	display: block;
}

.slds-table{
	min-height: 200px;
}



.builder .structure  .slds-tree__item .slds-m-right_x-small{
	margin: 0px;
	color: #0070d2 !important;
}
.builder .structure  .slds-tree__item .slds-m-right_x-small .slds-button__icon{
	width:10px;
	height: 10px;
}
.builder .structure  .slds-tree__item .slds-button__icon{
	width: 16px;
	height: 16px;
}

.builder .structure .slds-tree__item.type-data .left-icon,.builder .structure .slds-tree__item.type-data .slds-truncate{
	color: orange;
}

.builder .structure .slds-tree__item.type-templates .left-icon,.builder .structure .slds-tree__item.type-templates .slds-truncate{
	color: steelblue;
}

.builder .structure .slds-tree__item.type-components .left-icon,.builder .structure .slds-tree__item.type-components .slds-truncate{
	color: #dd6085;
}

.builder .structure .slds-tree__item.type-stylesheets .left-icon,.builder .structure .slds-tree__item.type-stylesheets .slds-truncate{
	color: #8ed363;
}

.builder .structure .slds-tree__item.type-scripts .left-icon,.builder .structure .slds-tree__item.type-scripts .slds-truncate{
	color: #f0856e;
}





.builder .item-selector .selected a{
	border: solid 1px steelblue;
}

.builder .item-selector .selected .slds-app-launcher__tile-figure{
	background: darkcyan;
}

.builder .buttons-ctn{
	position: absolute;
	right:8px;
}


.visual-editor.add-mode , .visual-editor.add-mode .structure-tree-item{
	cursor: crosshair; 
}


.visual-editor .component-design.basic .slds-app-launcher__title-label{
	display: none;
}

.visual-editor .component-design.basic .slds-app-launcher__tile-figure{
	padding: .75rem 0 0;
}

.visual-editor .component-design.selected .slds-avatar__initials {
	background: sienna;
}

.builder .slds-tabs_default__link{
	text-transform: none;
}

.builder .slds-tabs_default__content{
	padding: 0px;
}

.builder .editor-tabs ul .tab-close-button{
	
    float: left;
    position: absolute;
    right: 1px;
    top: 9px;
	
}

.builder .editor-tabs ul li a{
	margin-right: 8px;
}
.builder .editor-tabs ul .slds-active .tab-close-button{
	
    float: left;
    position: absolute;

    top: 9px;
	
}

.builder.editor-tabs ul  .slds-active{
    
}


.builder .editor-tabs .slds-tabs_default__nav .slds-tabs_default__item{
	padding-left: 4px;
}

.builder .editor-tabs .slds-tabs_default__nav .slds-tabs_default__item .slds-tabs_default__link{
	
}

    
.builder .editor-tabs .tab-close-button .slds-button__icon{
	    width: 0.675rem;
    height: .675rem;
}
.builder .save-button{
	position: absolute;
	right: 1%;
	top: 3px;
}

.builder .new-button{
	position: absolute;
	right: 3%;
	top: 3px;
}

.builder .preview-btn{
	position: absolute;
	right: 20%;
	top: 3px;
}

.builder .preview-btn div{
	top:6px;
	position: relative;
}

.builder .data-item select,.builder .data-item input{
	width: 100%;
}

.builder .data-item{
	border:1px solid #dddbda;
	box-shadow:0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.builder .visual-editor .drop-active{
	cursor: crosshair;
	background: silver;
}

.builder .designer-selector{
	background: yellow;
	opacity:0.4;
	border: dotted 4px steelblue;
	position:absolute;
}

.builder .slds-docked-composer{
	max-width:300px;
}

.builder .slds-docked-composer__body{
	background:white;
}

.builder .properties-composer {
	height: 300px;
	border-bottom: 1px solid #dddbda;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.16)
}

.builder .library-composer{
	height: 300px;
	border-bottom: 1px solid #dddbda;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.16)
}

.builder .slds-form_compact .slds-input, .builder .slds-form_compact .slds-select{
	border-radius:0px;
	line-height: 20px;
	min-height: 0px;
	padding: 0 4px;
	margin: 0px;
	height: auto;
}

.builder .slds-form_compact .slds-form-element{
	margin: 0px;
	background: #ebebeb;
}

.builder .slds-tabs_compact .slds-tabs_default__content{
	padding: 0px;
}

.builder .slds-tabs_compact .slds-tabs_default__content .slds-library{
	
	margin: 0px;
    height: 197px;
    overflow-y: auto;
    
    overflow-x: hidden;
}

.builder .visual-editor .slds-docked-composer{
	z-index:1000;
}

.builder .visual-editor .composers{
	position: absolute;
	width:0px;
	height: 0px;
}